<h3> Add a Comment: </h3>

<%= form_for comment do |f| %>

    <%= f.hidden_field :account_id, value: account.id %>
   
    <%= f.hidden_field :image_id, value: image.id %>

<p>
    <%= f.label :name %>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.label :comment %>
    <%= f.text_field :body %>
</p>
<p> <%= f.submit %> </p>

<% end %> 