<% if current_account %>

<h2>Image</h2>

<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body p-2">
        
        <% if @image.image.attached? %>
          <p>
            <%= image_tag @image.image %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= link_to @image.account_id %>

    <p class="border-top mt-3 py-2">
      <% if @image.caption.present? %>
        <%= @image.caption %> -
      <% end %>
      <span class="text-muted"><%= time_ago_in_words @image.created_at %> ago</span>
    </p>
  </div>
</div>
<h2> <%= @image.comments.count %> Comments </h2>
    
 <%= render partial:"comments/comment", locals:{comment:@comment, image: @image, account: current_account} %>
<% @image.comments.each do |comment| %>


<p><%= comment.name %> </p>
<p><%= comment.body %> </p>
<p><%= time_ago_in_words(comment.created_at) %></p>





<p><%= button_to 'Delete Comment', @comment, method: :"delete" %></p>
<% end %>


<div>
  <li id = "Edit Post"><%= link_to "edit", edit_account_image_path(current_account, @image) %></li><br><br>
  <%= button_to "Delete Image", @image, method: "delete" %><br />
</div>

<% else %>
<%= link_to "log in", new_account_session_path  %><br>
    you must sign in or sign up
<%= link_to "sign up", new_account_registration_path %>
<% end %>